# Maven / Java build output
target/

# Lokale Maven cache (NOOIT nodig in image)
.mvn/
.mvn/wrapper/
mvnw
mvnw.cmd

# IDE / editor
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log

# Docker files zelf
Dockerfile
docker-compose.yml
