@import "leaflet/dist/leaflet.css";
@import './base.css';
@import 'primeicons/primeicons.css';
@import 'tailwindcss';

#app {
font-family: "Inter", sans-serif;
}

strong {
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #EF3054;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.router-link-active {
  color: #EF3054;
  transition: ease-in-out 300ms;
}

.link {
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EF3054;
  height: 2px;
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
}

.btn-primary:hover {
  background-color: #C72745;
}

.btn-secondary:hover {
  background-color: #E5E5E5;
}

.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background-color: #EF3054;
  color: #FFFFFF;
}

.btn-secondary {
  background-color: #FFFFFF;
  color: #000000;
}

